@import "tailwindcss";

@font-face {
  font-family: "Nippo";
  src: url("/fonts/Nippo/Nippo-Extralight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nippo";
  src: url("/fonts/Nippo/Nippo-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nippo";
  src: url("/fonts/Nippo/Nippo-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nippo";
  src: url("/fonts/Nippo/Nippo-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nippo";
  src: url("/fonts/Nippo/Nippo-Variable.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nippo";
  src: url("/fonts/Nippo/Nippo-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-rich-black: #00081f;
  --color-dark-purple: #290a2d;
  --color-fuchsia: #e63cff;
  --color-flax: #ddc57d;
  --color-silver: #c8c8c8;
  --color-space-cadet: #131f45;
  --color-space-gray: #21213b;
  --color-lapis-lazuli: #145e80;
  --color-holo-glow: color-mix(
    in srgb,
    var(--color-lapis-lazuli) 70%,
    white 30%
  );

  --color-theme-primary: var(--color-rich-black);
  --color-theme-secondary: var(--color-dark-purple);
  --color-theme-terciary: var(--color-space-cadet);
  --color-theme-accent: var(--color-fuchsia);
  --color-theme-secondary-accent: var(--color-flax);
  --color-theme-background: var(--color-rich-black);
  --color-theme-text: var(--color-silver);
  --color-theme-border: var(--color-space-gray);

  --sidebar: #21213b !important;
  --sidebar-50: #21213b83 !important;
  --sidebar-foreground: #ffffff !important;
  --sidebar-primary: #d9ac79;
  --sidebar-primary-foreground: #d9ac79;
  --sidebar-accent: rgba(40, 100, 200, 0.3) !important;
  --sidebar-accent-foreground: #e0ffff !important;
  --sidebar-border: #145e80 !important;
  --sidebar-ring: #d9ac79 !important;
}

:root {
  font-family: "Nippo", sans-serif !important;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
}
/* 
  old border
    border: 1px solid rgba(119, 211, 255, 0.1);
  old radial grandient 
    rgba(18, 52, 86, 0.2),
    rgba(18, 52, 86, 0.35)

  old box shadow
    box-shadow: 0 0 10px rgba(119, 211, 255, 0.4),
    0 0 20px rgba(119, 211, 255, 0.2),
    inset 0 0 10px rgba(119, 211, 255, 0.3);
  text-shadow: 0 0 5px rgba(119, 211, 255, 0.5);

  0% 
      0 0 10px rgba(119, 211, 255, 0.4),
      0 0 20px rgba(119, 211, 255, 0.2);
  50%
      0 0 15px rgba(119, 211, 255, 0.6),
      0 0 25px rgba(119, 211, 255, 0.3);
  100%
      0 0 10px rgba(119, 211, 255, 0.4),
      0 0 20px rgba(119, 211, 255, 0.2);
*/

.bg-sidebar {
  border-radius: 8px;
  border: 1px solid var(--color-space-gray);
  background: transparent !important;
  text-shadow: 0 0 5px var(--color-holo-glow);
  padding: 20px;
  animation: hologram-pulse 4s infinite alternate ease-in-out;
}

@keyframes hologram-pulse {
  0% {
    box-shadow: inset 0 0 30px
        color-mix(in srgb, var(--color-holo-glow) 60%, transparent),
      0 0 10px var(--color-holo-glow),
      0 0 20px color-mix(in srgb, var(--color-holo-glow) 20%, transparent);
  }
  50% {
    box-shadow: inset 0 0 30px
        color-mix(in srgb, var(--color-holo-glow) 50%, transparent),
      0 0 15px color-mix(in srgb, var(--color-holo-glow) 70%, transparent),
      0 0 25px color-mix(in srgb, var(--color-holo-glow) 30%, transparent);
  }
  100% {
    box-shadow: inset 0 0 30px
        color-mix(in srgb, var(--color-holo-glow) 50%, transparent),
      0 0 10px color-mix(in srgb, var(--color-holo-glow) 60%, transparent),
      0 0 20px color-mix(in srgb, var(--color-holo-glow) 20%, transparent);
  }
}

.sidebar-animation {
  animation: sidebar-animation 0.5s ease-out;
  transform-origin: top;
}

@keyframes sidebar-animation {
  from {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(0.1);
  }
  to {
    transform: scaleY(1);
  }
}

html,
body,
div#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  max-width: none;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@utility mask-fade-bottom {
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

@utility mask-fade-bottom-quick {
  mask-image: linear-gradient(to bottom, black 95%, transparent 100%);
}

.css-3d-text {
  letter-spacing: 3px;
  text-shadow: 0px 0px 0 rgb(149, 149, 149), 0px 1px 0 rgb(137, 137, 137),
    0px 2px 0 rgb(125, 125, 125), 0px 3px 0 rgb(112, 112, 112),
    0px 4px 0 rgb(100, 100, 100), 0px 5px 0 rgb(88, 88, 88),
    0px 6px 0 rgb(76, 76, 76), 0px 7px 0 rgb(64, 64, 64),
    0px 8px 7px rgba(0, 8, 31, 0.43), 0px 8px 1px rgba(0, 8, 31, 0.5),
    0px 0px 7px rgba(0, 8, 31, 0.2);
}
